In [1]:
import pandas as pd
import os

In [2]:
# Load beneficiary, outpatient, and carrier claims files
ben_s1 = pd.read_csv("data\DE1_0_2008_Beneficiary_Summary_File_Sample_1.csv", low_memory = False)
op_s1 = pd.read_csv("data\DE1_0_2008_to_2010_Outpatient_Claims_Sample_1.csv", low_memory = False)
car_a_s1 = pd.read_csv("data\DE1_0_2008_to_2010_Carrier_Claims_Sample_1A.csv", low_memory = False)
#car_b_s1 = pd.read_csv("data\DE1_0_2008_to_2010_Outpatient_Claims_Sample_1.csv", low_memory = False)

In [4]:
## Create dataframe with state beneficiaries of interest
ben_s1_state = ben_s1[(ben_s1.SP_STATE_CODE == 31)]

len(ben_s1_state.index) #3,176 beneficiaries in 2008

3176

In [5]:
## Limit outpatient & carrier claims to just those for beneficiaries within state of interest
ben_s1_state_op = pd.merge(ben_s1_state,op_s1,on='DESYNPUF_ID',how='left')

ben_s1_state_cara = pd.merge(ben_s1_state,car_a_s1,on='DESYNPUF_ID',how='left')

In [6]:
ben_s1_state_cara.head()

,DESYNPUF_ID,BENE_BIRTH_DT,BENE_DEATH_DT,BENE_SEX_IDENT_CD,BENE_RACE_CD,BENE_ESRD_IND,SP_STATE_CODE,BENE_COUNTY_CD,BENE_HI_CVRAGE_TOT_MONS,BENE_SMI_CVRAGE_TOT_MONS,...,LINE_ICD9_DGNS_CD_4,LINE_ICD9_DGNS_CD_5,LINE_ICD9_DGNS_CD_6,LINE_ICD9_DGNS_CD_7,LINE_ICD9_DGNS_CD_8,LINE_ICD9_DGNS_CD_9,LINE_ICD9_DGNS_CD_10,LINE_ICD9_DGNS_CD_11,LINE_ICD9_DGNS_CD_12,LINE_ICD9_DGNS_CD_13
0,001D0E59C94130D3,19241201,NaN,2,1,0,31,290,12,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,001D0E59C94130D3,19241201,NaN,2,1,0,31,290,12,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,001D0E59C94130D3,19241201,NaN,2,1,0,31,290,12,12,...,4011,4011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,001D0E59C94130D3,19241201,NaN,2,1,0,31,290,12,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,001D0E59C94130D3,19241201,NaN,2,1,0,31,290,12,12,...,V0481,V0481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# making changes to some data types
ben_s1_state_op['CLM_FROM_DT'] = ben_s1_state_op['CLM_FROM_DT'].apply(str)
ben_s1_state_op['CLM_FROM_YR'] = ben_s1_state_op['CLM_FROM_DT'].str.slice(0, 4)

ben_s1_state_cara['CLM_FROM_DT'] = ben_s1_state_cara['CLM_FROM_DT'].apply(str)
ben_s1_state_cara['CLM_FROM_YR'] = ben_s1_state_cara['CLM_FROM_DT'].str.slice(0, 4)

In [8]:
## Identification of ER Visits in Outpatient Claims Data file
#http://www.medicalbillingcptmodifiers.com/2013/01/emergency-department-cpt-codes-99281.html
ben_s1_state_op[
    (ben_s1_state_op.HCPCS_CD_1.isin(['G0380','G0381','G0382','G0383','G0384','99281','99282','99283','99284','99285'])) 
    & (ben_s1_state_op.CLM_FROM_YR == '2008')
].groupby(['HCPCS_CD_1','CLM_FROM_YR'])['CLM_ID'].count().reset_index(name='count').sort_values(['count'], ascending=False)

  HCPCS_CD_1 CLM_FROM_YR  count
1      99282        2008     33
2      99283        2008     32
0      99281        2008     19
3      99284        2008      5
4      99285        2008      4
5      G0380        2008      3
6      G0381        2008      3
7      G0382        2008      3

In [9]:
## Identification of ER Visits in Carrier Claims Data file
ben_s1_state_cara[
    (ben_s1_state_cara.HCPCS_CD_1.isin(['G0380','G0381','G0382','G0383','G0384','99281','99282','99283','99284','99285'])) 
    & (ben_s1_state_cara.CLM_FROM_YR == '2008')
].groupby(['HCPCS_CD_1','CLM_FROM_YR'])['CLM_ID'].count().reset_index(name='count').sort_values(['count'], ascending=False)

  HCPCS_CD_1 CLM_FROM_YR  count
4      99285        2008    260
3      99284        2008    160
2      99283        2008    132
1      99282        2008     23
0      99281        2008      2

In [10]:
s1_state_cara_er = ben_s1_state_cara[
    (ben_s1_state_cara.HCPCS_CD_1.isin(['G0380','G0381','G0382','G0383','G0384','99281','99282','99283','99284','99285']))]
s1_state_op_er = ben_s1_state_op[
    (ben_s1_state_op.HCPCS_CD_1.isin(['G0380','G0381','G0382','G0383','G0384','99281','99282','99283','99284','99285']))]

print(s1_state_cara_er['CLM_ID'].count()) ## 1,571 claims
print(s1_state_cara_er['CLM_ID'].nunique()) ## 1,571 claims

print(s1_state_op_er['CLM_ID'].count()) ## 268 claims
print(s1_state_op_er['CLM_ID'].nunique()) ## 268 claims

1571
1571
268
268

In [11]:
both_claimssets = pd.merge(s1_state_cara_er,s1_state_op_er,on='CLM_ID')

In [12]:
len(both_claimssets.index) ## there are no ER claims with the same claim ID in both datasets

0

In [85]:
#ben_s1_state_cara[ben_s1_state_cara['HCPCS_CD_1'].isin(['99281','99282','99283','99284','99285'])]['TAX_NUM_1'].value_counts()

#ben_s1_state_cara[ben_s1_state_cara['HCPCS_CD_1'].isin(['99281','99282','99283','99284','99285'])].groupby(['SP_STATE_CODE','TAX_NUM_1']).count()

ben_s1_state_cara[ben_s1_state_cara['HCPCS_CD_1'].isin(['99281','99282','99283','99284','99285'])]['TAX_NUM_1'].value_counts()

#.groupby(['SP_STATE_CODE','TAX_NUM_1']).count()

322988663.0    76
532092265.0    70
294540272.0    37
335709939.0    30
707841098.0    22
528517496.0    13
548420167.0    12
943326701.0    10
805904691.0     9
78712490.0      8
488493035.0     8
569180805.0     7
117749059.0     7
673314266.0     7
743332313.0     6
548970950.0     6
672331052.0     6
537716678.0     6
853981253.0     6
650282132.0     6
907765507.0     6
597692578.0     6
874054422.0     5
838615373.0     5
900667747.0     5
431847709.0     5
341190057.0     5
469131579.0     4
598117605.0     4
793111801.0     4
               ..
752008276.0     1
91903227.0      1
923967605.0     1
754177396.0     1
121535252.0     1
16144292.0      1
463089639.0     1
346706231.0     1
406474036.0     1
970233236.0     1
859082277.0     1
485114918.0     1
489308235.0     1
335165973.0     1
986999917.0     1
408564504.0     1
814904901.0     1
207951347.0     1
137166018.0     1
622086828.0     1
272245627.0     1
695613904.0     1
823405953.0     1
638851863.0     1
242025543.0     1
861145854.0     1
441057796.0     1
762575505.0     1
689174361.0     1
337641512.0     1
Name: TAX_NUM_1, Length: 965, dtype: int64

In [100]:
ben_s1_cara[ben_s1_cara['TAX_NUM_1'].isin([322988663])].groupby(['SP_STATE_CODE','TAX_NUM_1'])['CLM_ID'].count().reset_index(name='count').sort_values(['count'], ascending=False)

#,532092265

    SP_STATE_CODE    TAX_NUM_1  count
52             34  532092265.0   5789
49             33  322988663.0   4855
72             49  532092265.0   4247
47             31  532092265.0   3517
19             11  532092265.0   3512
1               1  532092265.0   3169
46             31  322988663.0   3135
63             42  532092265.0   2595
28             18  532092265.0   2377
55             36  532092265.0   1754
33             21  532092265.0   1745
23             14  532092265.0   1699
65             44  532092265.0   1606
75             51  532092265.0   1557
50             33  532092265.0   1411
40             26  532092265.0   1263
59             39  532092265.0   1149
39             25  532092265.0    993
26             17  532092265.0    903
29             19  532092265.0    876
13              8  532092265.0    812
24             15  532092265.0    812
17             10  532092265.0    796
36             23  532092265.0    335
25             16  532092265.0    308
67             45  532092265.0    249
45             30  532092265.0    228
15              9  532092265.0    219
35             22  532092265.0    202
7               5  532092265.0    188
..            ...          ...    ...
2               2  532092265.0      9
77             53  532092265.0      9
64             43  532092265.0      9
34             22  322988663.0      8
22             13  532092265.0      7
51             34  322988663.0      7
48             32  532092265.0      7
61             41  532092265.0      6
62             42  322988663.0      6
66             45  322988663.0      5
71             49  322988663.0      5
18             11  322988663.0      4
53             35  532092265.0      4
14              9  322988663.0      3
44             30  322988663.0      3
73             50  322988663.0      3
3               3  322988663.0      3
54             36  322988663.0      2
38             25  322988663.0      2
41             27  532092265.0      2
20             12  322988663.0      2
21             12  532092265.0      2
60             41  322988663.0      2
12              8  322988663.0      2
69             47  322988663.0      1
8               6  322988663.0      1
27             18  322988663.0      1
32             21  322988663.0      1
30             20  322988663.0      1
0               1  322988663.0      1

[80 rows x 3 columns]

In [101]:
ben_s1_cara[ben_s1_cara['TAX_NUM_1'].isin([322988663])].groupby(['SP_STATE_CODE','BENE_COUNTY_CD'])['CLM_ID'].count().reset_index(name='count').sort_values(['count'], ascending=False)

     SP_STATE_CODE  BENE_COUNTY_CD  count
86              33             420    969
57              31             100    775
90              33             590    699
84              33             331    698
104             33             800    604
74              33              20    566
64              31             270    354
65              31             290    344
92              33             610    325
67              31             310    266
59              31             200    257
79              33             230    223
68              31             320    217
71              31             370    217
66              31             300    209
61              31             230    208
93              33             620    207
87              33             540    163
69              31             350    145
89              33             580    112
102             33             740     82
70              31             360     50
85              33             400     48
62              31             250     44
63              31             260     31
99              33             700     31
73              33               0     27
33              10             490     21
100             33             710     18
10               7               0     18
..             ...             ...    ...
52              22              80      1
51              22              60      1
50              22              40      1
49              22              30      1
48              22              20      1
47              22              10      1
46              22               0      1
45              21             100      1
44              20              60      1
43              18             550      1
40              11             220      1
60              31             220      1
31              10             410      1
27              10             300      1
11               7              10      1
2                3              60      1
3                5             140      1
101             33             730      1
6                5             470      1
7                5             480      1
9                6             220      1
13               7              30      1
26              10             270      1
82              33             270      1
80              33             240      1
18              10              20      1
75              33              30      1
24              10             150      1
25              10             260      1
0                1             360      1

[145 rows x 3 columns]